.postList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.4rem;
}

@media (max-width: 768px) {
	.postList {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 540px) {
	.postList {
		grid-template-columns: repeat(1, 1fr);
	}
}